<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='coracao.png') }}" type="image/png">
</head>
<body>
    <div class="music-player">
        <audio id="audioPlayer" controls autoplay></audio>
        <!-- Capa da música -->
        <div class="album-cover">
            <img id="coverImage" src="{{ url_for('static', filename='foto1.jpeg') }}" alt="Capa da Música" class="cover-image">
        </div>

        <!-- Navegação das letras -->
        <div class="lyrics-container">
            <div class="lyrics-page active">
                <div class="lyrics">
                    <p class="line active">Você sabe que eu só penso em você</p>
                    <p class="line">Você diz que vive pensando em mim</p>
                    <p class="line">Pode ser, se é assim</p>
                    <p class="line">Você tem que largar a mão do não</p>
                </div>
            </div>
            <div class="lyrics-page">
                <div class="lyrics">
                    <p class="line active">Eu quis lutar contra o poder do amor</p>
                    <p class="line">Caí nos pés do vencedor</p>
                    <p class="line">Para ser o serviçal de um samurai</p>
                    <p class="line">Mas eu tô tão feliz, dizem que o amor atrai</p>
                </div>
            </div>
            <div class="lyrics-page">
                <div class="lyrics">
                    <p class="line active">Teus sinais me confundem da cabeça aos pés</p>
                    <p class="line">Mas por dentro, eu te devoro</p>
                    <p class="line">Teu olhar não me diz exato quem tu és</p>
                    <p class="line">Mesmo assim, eu te devoro</p>
                </div>
            </div>
            <div class="lyrics-page">
                <div class="lyrics">
                    <p class="line active">Essa desmesura de paixão</p>
                    <p class="line">É loucura do coração</p>
                    <p class="line">Minha Foz do Iguaçu, Polo Sul, meu azul</p>
                    <p class="line">Luz do sentimento nu</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Botões de navegação -->
    <div class="nav-buttons">
        <button id="prev" class="nav-btn">←</button>
        <button id="next" class="nav-btn">→</button>
    </div>
    <div class="song-info">
        <a id="coverLinkSmall" href="#" target="_blank">
            <img id="coverImageSmall" src="/static/capa1.jpg" alt="Capa do Álbum" class="small-cover">
        </a>
        <span id="songTittle" class="song-title">Se...</span>
    </div>
</body>
</html>
